*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/xml/backup_rules.xml
/.idea/compiler.xml
/internetconnectionobserver/consumer-rules.pro
/app/src/main/res/xml/data_extraction_rules.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/deploymentTargetSelector.xml
/.idea/other.xml
/.idea/.name
/app/.idea/gradle.xml
/app/.idea/migrations.xml
/app/.idea/misc.xml
/app/.idea/other.xml
/app/.idea/vcs.xml
/app/.idea/workspace.xml
